{% extends 'base.html' %}

{% block menu %}
    <div id="menubar">
        <ul id="menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/contacts/">Контакты</a></li>
            <li class="selected"><a href="/catalog/">Каталог</a></li>
            <li><a href="/about/">О нас</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div id="content">
        <h1>НАШИ ПИТОМЦЫ</h1>
        {% for racoon in racoons %}
            <h2>{{ racoon }}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed tortor nisi. Morbi mattis nulla felis,
                ac maximus lacus dictum sit amet. Duis ex dolor, lacinia et pulvinar vitae, tempus sit amet enim. Nulla
                condimentum efficitur lacinia. Sed semper pretium egestas. Donec iaculis porta magna porttitor
                pellentesque. Suspendisse gravida ex arcu, et ornare orci maximus mattis. Phasellus scelerisque, nisi
                non gravida pulvinar, massa nulla viverra urna, sit amet faucibus felis metus eget nunc. Integer rhoncus
                aliquet turpis ultricies porttitor.
            </p>
        {% endfor %}

    </div>
{% endblock %}