{% extends 'base.html' %}

{% block menu %}
    <div id="menubar">
        <ul id="menu">
            <li class="selected"><a href="/">Главная</a></li>
            <li><a href="/contacts/">Контакты</a></li>
            <li><a href="/catalog/">Каталог</a></li>
            <li><a href="/about/">О нас</a></li>
            <li><a href="/customers/">Наши покупатели</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div id="content">
        <h1>Добро пожаловать в домик енота!</h1>
        <p>На нашем сайте вы сможете выбрать самого озорного и пушистого друга, который с удовольствием посетит Ваш
            праздник.</p>
        <p>Что может быть лучшим подарком, чем возможность подержать на руках мягкого, умильного енотика, хорька или белочку?</p>
        <p>Ваши друзья и родные будут счастливы такому очаровательному гостю!</p>
    </div>
{% endblock %}